@import "../abstracts/abstracts";

* {
    margin: 0;
}

body {
    font-family: $tipografia-principal;
    @extend %flex-columna;
    color: $color-secundario
}

header {
    width: 100%;
    background-color: $color-secundario;
    height: 50px;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    .seccion-busqueda {
        margin: 60px 10px 80px;
        .titulo-busqueda {
            @extend %margenes-titulos;
            display: block;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.contenedor-filtros-busqueda {
    @extend %espaciar-flex;
}

label {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $color-secundario-tipografias;
    margin-right: 10px;
    select {
        font-size: 14px;
        font-weight: bold;
        border: 0;
        margin-bottom: 10px;
        option {
            font-weight: normal;
            display: block;
            white-space: pre;
            min-height: 1.2em;
            padding: 0px 2px 1px;
        }
    }
}

.contenedor-busqueda {
    @extend %espaciar-flex;
}

.titulo-resultados {
    @extend %margenes-titulos;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.numero-de-resultados {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-secundario-tipografias;
    margin-right: 10px;
}

.resultados {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    min-height: 300px;
}

.paginado {
    @extend %centrar-flex;
    .boton-paginado:disabled {
        color: #757575;
        border-color: #757575;
    }
}

footer {
    width: 100%;
    padding: 30px 0 40px;
    background-color: $color-secundario;
    color: $color-principal;
    margin-top: 120px;
    text-align: center;
}

.ocultar {
    display: none;
}
