@import "../abstracts/abstracts";

.contenedor-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    .logo {
        background-color: $color-fondo-secundario;
        color: $color-principal;
        font-family: $tipografia-secundaria;
        font-weight: bold;
        font-size: 45px;
        line-height: 50px;
        margin: 0;
        padding: 0 10px;
    }
}

.contenedor-banner {
    width: 100%;
    min-height: 400px;
    background-image: url(https://frontend-proyecto-comics.adaitw.org/hero.jpg);
    background-size: cover;
    position: relative;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
    }
}


.contenedor-input-busqueda {
    position: relative;
    min-width: 50%;
    .input-busqueda {
        border: 0;
        border-bottom: 2px solid $color-secundario;
        width: 100%;
        padding: 5px 35px;
        border-radius: 0;
        font-size: 26px;
        box-sizing: border-box;
    }
    .fa-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        font-weight: 900;
    }
}


.boton-buscar {
    @include boton;
    margin-left: 30px;
    padding: 10px 15px;
}

.boton-paginado {
    @include boton;
    @extend %centrar-flex;
    width: 40px;
    height: 40px;
    font-size: 25px;
}

.tarjeta-comic {
    width: calc(100% / 5 - 2 * 10px);
    @extend %margenes-tarjetas;
    display: flex;
    flex-direction: column;
    .contenedor-imagen-comic {
        flex-grow: 1;
        .imagen-comic {
            @include imagenes-tarjetas;
        }
    }
    .titulo-comic {
        @include info-tarjetas
    }
}

.tarjeta-personaje {
    display: flex;
    flex-direction: column;
    width: calc(100% / 6 - 2 * 10px);
    @extend %margenes-tarjetas;
    .contenedor-imagen-personaje {
        flex-grow: 1;
        border-bottom: 4px solid $color-fondo-secundario;
        overflow: hidden;
        .imagen-personaje {
            @include imagenes-tarjetas;
            object-fit: cover;
        }
    }
    .contenedor-nombre-personaje {
        padding: 16px 24px 17px 20px;
        background-color: $color-secundario;
        transition: 0.2s;
        .nombre-personaje {
            color: $color-principal;
            text-transform: uppercase;
            height: 79px;
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}


.contenedor-info-comic {
    display: flex;
    margin: 80px 10px 50px;
}

.imagen-info-comic {
    max-width: 350px;
    margin-right: 50px;
}

.info-comic {
    .subtitulo-info {
        @extend %margenes-info;
        font-size: 1.17em;
        font-weight: bold;
    }
    .detalles-info {
        @extend %margenes-info;
    }
}

.contenedor-info-personaje {
    display: flex;
    margin: 80px 10px 50px;
}

.info-personaje {
    .nombre-personaje { 
        @extend %margenes-titulos;
    }
    .descripcion-personaje {
        @extend %margenes-info;
    }
}