@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

$color-principal: #fff;
$color-secundario: #151515;

$color-fondo-secundario: #ed1d23;
$color-secundario-tipografias: #757575;

$tipografia-principal: 'Roboto', sans-serif;
$tipografia-secundaria: 'Bangers', cursive;